.angular-center-container {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:table;
  pointer-events: none;
  z-index:9999;

}

.angular-centered {
  display: table-cell;
  vertical-align: middle;
}

.angular-centered> * {
  pointer-events: auto;
}
